<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Book Information</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ mvc.basePath }}/krazo.css"
    />
  </head>
  <body>
    <h1>Hello</h1>
    <p>Title: {{ message }}</p>
    <p>Count: {{ count }}</p>
  </body>
</html>
