<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<!DOCTYPE html>
<html>
  <head>
    <title>Book Information</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="${request.contextPath}/krazo.css"
    />
  </head>
  <body>
    <h1>Hello</h1>
    <p>Title: $mvc.encoders.html($message)</p>
    <p>Count: $mvc.encoders.html($count)</p>
  </body>
</html>
